body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    margin-top: 20%;
    background-color: #dcec4af7;
  }
  
  ol, ul {
    padding-left: 10px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(102, 227, 243);
    border: 2px solid rgb(226, 23, 23);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(238, 233, 233);
  }
  
  .game {
    /* display: flex; */
    /* flex-direction: row; */
    margin-left: 40%;
  }
  
  .game-info {
    margin-left: 0.5%;
  }

  